<h1 mat-dialog-title>Добавить продукт</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Название</mat-label>
    <input matInput placeholder="Название" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Категория</mat-label>
    <mat-select placeholder="Категория">
      <mat-option value="fruits">Фрукты</mat-option>
      <mat-option value="vegetables">Овощи</mat-option>
      <mat-option value="electronic">Электроника</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Выберите дату</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <label for=""><h1>Варианты</h1></label>
  <mat-radio-group class="example-radio-group">
    <mat-radio-button
      class="example-radio-button"
      *ngFor="let fresh of freshnessList"
      [value]="fresh">
      {{ fresh }}
    </mat-radio-button>
  </mat-radio-group>
  <mat-form-field appearance="outline">
    <mat-label>Цена</mat-label>
    <input matInput placeholder="price" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Комментарий</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="primary" mat-dialog-close>Сохранить</button>
  <button
    mat-raised-button
    color="warn"
    style="margin-left: 8px"
    mat-dialog-close>Закрыть</button>
</div>
